
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body {
  background:  hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 13px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
